<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>scwcd-samples</display-name>
	<jsp-config>
		<taglib>
			<taglib-uri>http://com.med4dev.test/jsp/tld/myFirstTag</taglib-uri>
			<taglib-location>/WEB-INF/MyTLD1.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<servlet-class>com.scwcd.tryit.MyServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/MyServlet1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all-app</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>kabrane</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>kabrane</role-name>
	</security-role>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>UserDatabase</realm-name>
	</login-config>
</web-app>